body {
  background: #fff; }

.top-header .logo a {
  display: block;
  width: 220px;
  height: 50px;
  cursor: pointer;
  text-indent: -10000px; }
  .top-header .logo a span {
    display: none; }

.top-header .top-nav .nav-right > li > a {
  width: auto; }

#content {
  left: 0;
  margin-top: 50px;
  top: 0;
  position: inherit; }

#graph .link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px; }
#graph .node circle {
  cursor: pointer;
  fill: #006699;
  stroke: #fff;
  stroke-width: 1.5px; }
#graph .node #circle_center {
  fill: black; }
#graph .node circle:hover {
  fill: #ccc; }
#graph .nodetext {
  pointer-events: none;
  font: 14px sans-serif; }

#graphSearch .btn {
  height: 40px; }

#recentLinks {
  width: 300px;
  position: absolute;
  right: 15px; }
  #recentLinks .tab-content {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; }

text {
  font: 10px sans-serif;
  pointer-events: none; }

#graphPopover {
  position: absolute;
  left: -10000px; }

#graphSearch {
  float: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 75px; }
  #graphSearch .dropdown-menu {
    width: 96%; }

body input.ng-invalid.ng-dirty {
  background: #fce2e2; }
