body {
  background: #fff; }

.top-header .logo a {
  display: block;
  width: 220px;
  height: 50px;
  cursor: pointer;
  background: url(img/holist-logo-220.png) no-repeat;
  text-indent: -10000px; }
  .top-header .logo a span {
    display: none; }

.top-header .top-nav .nav-right > li > a {
  width: auto; }

#content {
  left: 0;
  margin-top: 50px;
  top: 0;
  position: inherit; }

#graph .link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px; }
#graph .node circle {
  cursor: pointer;
  fill: #006699;
  stroke: #fff;
  stroke-width: 1.5px; }
#graph .node circle:hover {
  fill: #ccc; }
#graph .nodetext {
  pointer-events: none;
  font: 10px sans-serif; }

text {
  font: 10px sans-serif;
  pointer-events: none; }

#graphPopover {
  position: absolute;
  left: -10000px; }

#graphSearch {
  float: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 75px; }
  #graphSearch .dropdown-menu {
    width: 96%; }
