<div class="space-50"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Don't Listen On Your Gut Feeling!</h2>
            <h3 class="subtitle">holist is a Big Data, Computer Linguistic and Visual Analytics company providing insights<br/> from global science, patents, press, web, and social media for your strategy.</h3>
        </div>
        <div class="space-70"></div>
        <div class="col-md-6 justify">
            <h4 class="heading-mini">About holist</h4>
            <p>
                holist is a Munich based company and supports private investors, business angels and large corporations to easily find all relevant data to specific companies, organizations or other entities. The aim is to simplify the process of gathering information
                when making investment decisions or generally researching companies, their competitors and sectors as a whole.
            </p>
            <p>
                The technology behind holist gathers live information and allows our customers to make decisions based on semantic analysis and linguistic models.
            </p>
            <br>
            <ul class="icon-list list-unstyled">
                <li><i class="ion-checkmark-round"></i> Detect Trends, Funding and Investement Opportunities</li>
                <li><i class="ion-checkmark-round"></i> Algorithms Running 24/7 and Provide Information in Real-Time</li>
                <li><i class="ion-checkmark-round"></i> A New Form of Innovation Management</li>
                <li><i class="ion-checkmark-round"></i> Online Platform for Live Research</li>
                <li><i class="ion-checkmark-round"></i> Customized High-Quality Software Solutions For Corporations</li>
            </ul>


        </div>
        <div class="col-md-6">
            <carousel interval="3000">
                <slide ng-repeat="imageSource in AboutSlides" active="slide.active">
                    <img ng-src="{{imageSource}}" style="margin:auto;">
                </slide>
            </carousel>
        </div>
    </div>
    <!--about company row end-->
    <div class="space-70"></div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="heading-mini">The Founding Team</h4>
        </div>

        <div class="col-md-3 col-sm-6 margin-btm-20">
            <div class="person-section">
                <center>
                    <img ng-src="assets/img/about/team/Robert_Weindl.jpg" width="187" height="250" class="img-responsive" alt="">
                </center>
                <div class="person-desc">
                    <h3>Philipp Dowling   <span>Co-Founder</span></h3>

                    <p>
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <ul class=" team list-inline social-btn push-right">
                        <li><a href="https://www.twitter.de/philippdowling" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit On twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="ion-social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit On LinkedIn"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--person section end-->
        </div>
        <!--person col end-->
        <div class="col-md-3 col-sm-6 margin-btm-20">
            <div class="person-section">
                <center>
                    <img ng-src="assets/img/about/team/Robert_Weindl.jpg" width="187" height="250" class="img-responsive" alt="">
                </center>
                <div class="person-desc">
                    <h3>Simon Fakir   <span>Co-Founder</span></h3>

                    <p>
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <ul class=" team list-inline social-btn push-right">
                        <li><a href="#" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit On twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="ion-social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit On LinkedIn"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--person section end-->
        </div>
        <!--person col end-->
        <div class="col-md-3 col-sm-6 margin-btm-20">
            <div class="person-section">
                <center>
                    <img ng-src="assets/img/about/team/Robert_Weindl.jpg" width="187" height="250" class="img-responsive" alt="">
                </center>
                <div class="person-desc">
                    <h3>Raoul Friedrich   <span>Co-Founder</span></h3>

                    <p>
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <ul class=" team list-inline social-btn push-right">
                        <li><a href="#" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit On twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="ion-social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit On LinkedIn"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--person section end-->
        </div>
        <!--person col end-->
        <div class="col-md-3 col-sm-6 margin-btm-20">
            <div class="person-section">
                <center>
                    <img ng-src="assets/img/about/team/Robert_Weindl.jpg" width="187" height="250" class="img-responsive" alt="">
                </center>
                <div class="person-desc">
                    <h3>Robert Weindl   <span>Co-Founder</span></h3>

                    <p>
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <ul class=" team list-inline social-btn push-right">
                        <li><a href="https://www.twitter.de/robertweindl" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit On twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="ion-social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit On LinkedIn"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--person section end-->
        </div>
        <!--person col end-->
    </div>
    <!--our team row end-->
</div>
<!--about content end-->
<div class="space-70"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="heading-mini">Our Partners</h4>
        </div>
        <div class="col-md-4 col-sm-6 margin-btm-20">
            <div class="process-box">
                <center>
                    <a target="_blank" href="http://wwwmatthes.in.tum.de">
                        <img ng-src="assets/img/about/partner/sebis.png" width="133" height="100" class="img-responsive" alt="">
                    </a>
                </center>
                <div class="space-20"></div>
                <p class="justify">Professor <a target="_blank" href="https://wwwmatthes.in.tum.de/pages/88bkmvw6y7gx/sebis%20Public%20Website/Team/Prof.%20Dr.%20Florian%20Matthes">Florian Matthes</a> holds the chair for Software Engineering for Business Information Systems
                    (sebis) since its establishment in 2002. We are one of the 22 chairs of the <a target="_blank" href="http://www.in.tum.de/">Informatics Faculty</a> at <a target="_blank" href="http://www.tum.de/">Technische Universität München</a> and
                    contribute to the informatics and business informatics education at the PhD, master and bachelor level.</p>
            </div>
            <!--process box end-->
        </div>
        <div class="col-md-4 col-sm-6 margin-btm-20">
            <div class="process-box">
                <center>
                    <a target="_blank" href="http://www.cdtm.de">
                        <img ng-src="assets/img/about/partner/cdtm.png" width="240" height="100" class="img-responsive" alt="">
                    </a>
                </center>
                <div class="space-20"></div>
                <p class="justify">The Center for Digital Technology and Management (CDTM), a joint institution of the <a target="_blank" href="www.lmu.de">Ludwig-Maximilians-Universität München (LMU)</a> and the <a target="_blank" href="www.tum.de">Technische Universität München (TUM)</a>,
                    offers talented students the international and interdisciplinary study program Technology Management. The CDTM focuses on how to manage High-Tech in close cooperation with industry, research and education, while simultaneously being
                    committed to preparing the students for future leadership positions in their professional career. Technology Management is part of the <a target="_blank" href="www.elitenetzwerk.bayern.de">Elite Network of Bavaria</a>.</p>
            </div>
            <!--process box end-->
        </div>
        <div class="col-md-4 col-sm-6 margin-btm-20">
            <div class="process-box">
                <center>
                    <a target="_blank" href="http://www.unternehmertum.de">
                        <img ng-src="assets/img/about/partner/unternehmertum.png" width="285" height="100" class="img-responsive" alt="">
                    </a>
                </center>
                <div class="space-20"></div>
                <p class="justify">UnternehmerTUM, the center for innovation and business creation at <a target="_blank" href="http://www.tum.de">Technische Universität München</a>, uniquely develops and connects talent, technologies, capital and customers. UnternehmerTUM
                    inspires students, academics and professionals, promoting entrepreneurial thought and action and supporting companies and start-ups in making the most of the challenges of our times so as to generate successful new business. UnternehmerTUM
                    applies a systematic process to identify, develop and implement entrepreneurial opportunities. The UnternehmerTUM fund provides capital for cutting-edge technology start-ups with international market potential. As one of the leading
                    innovation and start-up centers in Europe, UnternehmerTUM actively contributes to tackling social challenges, thereby reinforcing Germany's future sustainability.</p>
            </div>
            <!--process box end-->
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Want to learn more?</h2>
            <h3 class="subtitle">Register to our newsletter and get updates about our products, success stories and workflows.</h3>
        </div>
        <div class="space-20"></div>
        <form class="text-center">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg theme-btn-color">Subscribe</button>
            </div>
        </form>
    </div>
</div>

<div class="space-70"></div>
