<div class="space-50"></div>

<div class="container">
    <div class="col-md-12 text-center">
        <h2>Weekly Bundled Knowledge</h2>
        <h3 class="subtitle">We Provide You Weekly Insights Direct From Our Developers</h3>
    </div>
    <div class="space-50"></div>
    <div class="row">
        <div class="col-md-12">
            <h4>How To Work With holist</h4>
            <h3 class="subtitle">Watch the Video Below and Learn How Our Customers Use holist for their Decisions</h3>
            <div class="space-30"></div>
            <div class="blog-post-section">
                <div class="blog-post-img">
                    <div class="responsive-video">
                        <iframe src="//player.vimeo.com/video/64160090" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        <p><a href="http://vimeo.com/64160090">Palantir Code33Launch Logo Loop</a> from <a href="http://vimeo.com/alanasalcer">Alana Salcer</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    </div>
                </div>
                <div class="blog-post-header">
                    <h3>Working with holist is awesome</h3>
                </div>
                <div class="blog-post-info">
                    <span><a href="index.html" class="hover-color">by holist</a> | on 11 june 2014 | Promotion</span>
                </div>
                <div class="blog-post-detail">
                    <p>
                        Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.Magnis modipsae que lib voloratati andigen
                        daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.
                    </p>
                    <p>
                        Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.
                    </p>
                </div>
            </div>
        </div>
        <!--blog content-->
    </div>

</div>
<!--blog full page content end here-->
<div class="space-70"></div>
