<div class="space-50"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Frequently Asked Questions</h2>
            <h3 class="subtitle">holist is completely transparent. If your question is not listed below feel free to contact us!</h3>
        </div>
        <div class="space-70"></div>
        <div class="col-md-12">
            <p>
                Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.
            </p>

            <div class="space-40"></div>
            <div class="row">
                <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                    <!--price faq box-->
                </div>
                <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                    <!-- faq box-->
                </div>

                <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                    <!--faq box-->
                </div>
                <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                    <!-- faq box-->
                </div>
                <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                    <!-- faq box-->
                </div>
            </div>
            <div class="space-40"></div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini">More Questions</h4>
                </div>
                <div class="col-md-12">
                    <!--accordions start-->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">



                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">



                                        Question #1



                                    </a>



                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">



                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">



                                        Question #2



                                    </a>



                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">



                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">



                                        Question #3



                                    </a>



                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--accordions end-->
                </div>
            </div>
        </div>
        <!--faqs row end-->
    </div>
</div>
<!--faqs content end-->
<div class="space-70"></div>
