<div class="container">
    <div class="row">
        <ul class="info list-inline hidden-xs">
            <li><a ui-sref="about" class="hover-color">About</a>
            </li>
            <li><a ui-sref="blog" class="hover-color">Blog</a>
            </li>
            <li><a ui-sref="careers" class="hover-color">Careers</a>
            </li>
            <li><a ui-sref="contact" class="hover-color">Contact</a>
            </li>
            <li><a ui-sref="events" class="hover-color">Events</a>
            </li>
            <li><a ui-sref="faqs" class="hover-color">FAQs</a>
            </li>
            <li><a ui-sref="partners" class="hover-color">Partners</a>
            </li>
            <li><a ui-sref="team" class="hover-color">Team</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="info list-inline hidden-xs">
            <li><a ui-sref="privacy" class="hover-color">Privacy Policy</a>
            </li>
            <li><a ui-sref="sitemap" class="hover-color">Sitemap</a>
            </li>
            <li><a ui-sref="terms" class="hover-color">Terms of Service</a>
            </li>
            <li><a ui-sref="imprint" class="hover-color">Imprint</a>
            </li>
        </ul>
    </div>
    <div class="space-20"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a ui-sref="index">
                <img ng-src="assets/img/logo/logo-footer.png" width="210" height="70" alt="">
            </a>
        </div>
    </div>
    <!--footer copyright row end-->
</div>
<!--container-->
