<div class="container">
<div class="page-signup">

    <tabset class="form-container">
        <tab heading="Login">
                    <span class="line-thru">registered user</span>

                    <section>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                    <input type="email"
                                           class="form-control"
                                           placeholder="Email"
                                            >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                    <input type="password"
                                           class="form-control"
                                           placeholder="Password"
                                            >
                                </div>
                            </div>

                            <div class="form-group">
                                <a href="#/" class="btn btn-primary btn-block btn-lg">Login</a>
                            </div>

                        </form>
                    </section>
    </tab>

    <tab heading="Register">

        <span class="line-thru">new to holist?</span>

        <section>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                        <input  type="text"
                                class="form-control"
                                placeholder="Name"
                                >
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                        <input type="email"
                               class="form-control"
                               placeholder="Email"
                                >
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                                >
                    </div>
                </div>

                <div class="form-group">
                    <p class="text-muted text-small">By clicking on Sign up, you agree to <a href="javascript:;">terms & conditions</a> and <a href="javascript:;">privacy policy</a></p>
                    <div class="divider"></div>
                    <a href="#/" class="btn btn-primary btn-block btn-lg">Sign up</a>
                </div>

            </form>
        </section>

    </tab>


</div>

</div>
