<div class="space-50"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Terms of Service</h2>
            <h3 class="subtitle">holist is completely transparent. If your question is not listed below feel free to contact us!</h3>
        </div>
        <div class="space-70"></div>
        <p>
            <span class="holist">holist UG (haftungsbeschränkt)</span> operates the holist mobile app (hereinafter referred to as “app”) and related website (“holist”). By using holist in any way, you accept these Terms of Service (“Agreement”). If you
            do not wish to be bound by this agreement, do not use holist. The usage of this app through the user is liable to the regulations of these terms. By using the app in any way you accept these terms. If you do not wish to be bound by these terms,
            do not use the app.
            <br/>
            <br/>1. The user has read and understood the terms.
            <br/>2. The user is at least 18 years old.
            <br/>3. The user is solely responsible for the uploaded content through the app. The user keeps holist indemnified against all third-party claims in this respect.
            <br/>4. The user accepts that the app might contain privately unwanted content in circumstances.
            <br/>5. When using the app the user has to observe all rules and regulations of the country the app is used in. Placing illegitimate content or content being out of order with respect to these terms is prohibited.
            <br/>6. Contact information of users are allowed to be placed in the dedicated sections only.
            <br/>7. The user is not allowed to either deceive or to harass other holist members. It is prohibited to the user to distribute commercial offers or other publicity or promotional material through the app. This does not apply if and when holist
            grants expressed and written permission to the user to distribute commercial offers or other publicity or promotional material through the app.
            <br/>8. The user is obliged to observe the regulations of the privacy terms.
            <br/>
            <br/>

            <span class="holist">PERMITTED AND UNPERMITTED CONTENTS</span>
            <br/>holist provides its application as virtual bulletin board that can be used to meet new people, to exchange photos, videos, text or voice messages. holist sets great value upon the app being a save and friendly environment of mutual respect
            for all users. To this end it is prohibited to the user to insult other users, to make obscene or other harassing comments, or to place or distribute pornographic material or other material liable to corrupt the young. Also, the placement
            and distribution of racist and violence-glorifying contents is prohibited. This holds also for contents that are intended to motivate to terroristic activity or other criminal and illegal actions or that are supportive in any way with suchlike
            actions. In regards to copyrights and any other intellectual or industrial property holist points to the fact that any usage of contents that violates third-party rights is prohibited.
            <br/>
            <br/>

            <span class="holist">OBSERVANCE OF COPYRIGHTS AND OTHER PROPERTY RIGHTS</span>
            <br/>All contents placed by users such as photos or descriptions as well as all elements of the application such as texts, graphics, user interface, logos, and designs are owned by holist and are legally protected. Besides the app elements expressly
            stated in the terms, no other element of the app (including all contents) is allowed to be displayed or reproduced on other servers, websites, apps or any other media with publication or distribution intentions without a written permission
            granted by holist.
            <br/>
            <br/>

            <span class="holist">OTHER RIGHTS OF holist</span>
            <br/>holist reserves the following, exclusive rights:
            <br/>
            <br/>1. holist reserves the right to make changes to these terms at any time in the way that user should be able to regularly recall the regulations. If holist make essential amendments, the user will be informed accordingly either on this site
            or by an app message. In the event of an objection against the amendment through the user the app membership can be immediately determined from both sides.
            <br/>2. holist reserves the right to change or delete user placed contents in individual cases, provided that these contents are in violation with legal provisions or these terms or that these contents cause damage to holist or third party. In
            the event of a violation of these terms holist is able to immediately terminate the membership of the user and to delete his or her placed contents as well as profile.
            <br/>3. holist reserves the right to report any hint of illegal activity of individual users as well as corresponding suspicious contents to the relevant competent authority while respecting the privacy terms.
            <br/>
            <br/>

            <span class="holist">RESPONSIBILITY AND DISCLAIMER OF LIABILITY</span>
            <br/>holist as host-provider does not have the possibility to control in advance authenticity, accuracy or legitimacy of the contents on the app placed by the users. The contents of this app are therefore provided without any guaranty or responsibility
            for authenticity, accuracy or legitimacy. holist is able to perform controls at random to prevent abuse. holist is liable according to the legal provisions for damage resulting from injury to life, limb or health, in the event of a compelling
            legal liability (e.g. for damage under the German Product Liability Act), for damage resulting from intent and wanton negligence, as well as s special warranty promise. holist is not liable for the slightly negligent breach of not essential
            contractual obligations. holist is liable up to the limit of the damage that was typically foreseeable at the time the contract was conducted and for the slightly negligent breach of an essential contractual obligation (i.e. contractual obligations
            whose fulfillment enables the proper performance of the contract, whose violation endangers the compliance with the subject of the contract and on whose compliance users trust regularly, “cardinal duty”. In the event that holist’s liability
            should be excluded same shall also apply to the personal liability of its legal representatives, staff members and agents.
        </p>
        <div class="space-70"></div>
    </div>
</div>
<!--full width page end-->
<div class="space-70"></div>
