<form class="col-sm-6" id="graphSearch" ng-submit="onSearch()" name="graphSearch">
    <div class="input-group transparent" style="width:100%;">
        <input type="text" ng-model="searchKeyword"
               typeahead="state for state in updateAutocomplete(searchKeyword) | filter:$viewValue | limitTo:8"
               typeahead-on-select="onSearch()"
               class="form-control"
               placeholder="Search" ng-required=""

                >
        <span ng-show="searchKeyword.length > 0" class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="searchKeyword='';onSearch();"><i class="fa fa-times-circle"></i></button>
        </span>
        <i ng-show="loadingLabels" class="glyphicon glyphicon-refresh"></i>
    </div>


</form>

<div id="recentLinks" ng-if=" (activitylog && activitylog.length > 0) || (favorites && favorites.length > 0) || userLoggedIn">
    <tabset>
        <tab>
            <tab-heading><i class='fa fa-align-justify'></i> Activity</tab-heading>
            <div style="height: 400px;width:100%; overflow: auto">
                <table class="table table-hover">
                    <tr ng-repeat="row in activitylog">
                        <td >
                            {{ row.title }}
                        </td>
                        <td width="50">

                            <button class="btn  btn-xs" tooltip-placement="left" tooltip="Search for this topic" ng-click="updateSearch(row.title)"><i class="fa fa-search"></i></button>
                            <button ng-if="row.id.length == 24" class="btn  btn-xs" ng-click="addFavorite(row)"
                                    ng-class="{isFavorite: isFavorite(row.id)}"
                                    href="" tooltip-placement="left" tooltip="Add to favorites!"><i class="fa fa-star"></i></button>
                            <a ng-if="row.link" class="btn btn-primary btn-xs" href="{{row.link}}" tooltip-placement="left" target="_blank" tooltip="Read article!"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>

        <tab ng-show="userLoggedIn">
            <tab-heading><i class='fa fa-star'></i>  Favorites</tab-heading>
            <div style="height: 400px;width:100%; overflow: auto">
                <table class="table table-hover">
                    <tr ng-repeat="row in favorites">
                        <td >
                            {{ row.title }}<br>
                            <span class="muted">{{row.timestamp | date:'short'}}</span>
                        </td>
                        <td width="50">
                            <button class="btn btn-primary btn-xs" tooltip-placement="left" tooltip="Search for this topic" ng-click="updateSearch(row.title)"><i class="fa fa-search"></i></button>
                            <button class="btn btn-primary btn-xs" href="row.link" tooltip-placement="left" tooltip="Read article!"><i class="fa fa-eye"></i></button>

                            <button class="btn btn-primary btn-xs" ng-click="removeFavorite(row.id)"

                                    href="" tooltip-placement="left" tooltip="Remove from favorites!"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>

    </tabset>

</div>

<graph search="currentSearch" id="graph"></graph>


<div id="graphPopover" class="popover right fade in" placement="right" style="display: block;">
    <div class="arrow"></div>

    <div class="popover-inner">
        <div class="popover-content ng-binding">
            <p>On the Right!</p>
        </div>
    </div>
</div>
