<div class="space-50"></div>

<div class="container">
    <div class="col-md-12 text-center">
        <h2>Our Plans and Prices</h2>
        <h3 class="subtitle">holist offers three different pricing models.</h3>
    </div>
    <div class="space-70"></div>
    <div class="row">
        <div class="col-md-4 margin-btm-20">
            <div class="pricing-wrapper">
                <div class="pricing-head">
                    <h3>Free</h3>
                </div>
                <div class="pricing-rate">
                    <h1>$0.00<small>-month</small></h1>
                </div>
                <div class="pricing-desc">
                    <ul class="list-unstyled">
                        <li><i class="ion-checkmark-round"></i> Unique Graphsearch</li>
                        <li><i class="ion-checkmark-round"></i> Favorite Articles</li>
                        <li><i class="ion-checkmark-round"></i> All the information</li>

                    </ul>
                </div>
                <div class="pricing-select">
                    <a href="#" class="btn theme-btn-default btn-lg">Choose plan </a>
                </div>
            </div>
            <!--pricing wrapper-->
        </div>
        <!--pricing col end-->
        <div class="col-md-4 margin-btm-20">
            <div class="pricing-wrapper">
                <div class="pricing-head">
                    <h3>Premium</h3>
                </div>
                <div class="pricing-rate">
                    <h1>$99.99<small>-month</small></h1>
                </div>
                <div class="pricing-desc">
                    <ul class="list-unstyled">
                        <li><i class="ion-checkmark-round"></i> Unique Graphsearch</li>
                        <li><i class="ion-checkmark-round"></i> Extensive relation search</li>
                        <li><i class="ion-checkmark-round"></i> Favorite Articles</li>
                        <li><i class="ion-checkmark-round"></i> All the information</li>
                        <li><i class="ion-checkmark-round"></i> <b>Startup-Notification</b></li>
                        <li><i class="ion-checkmark-round"></i> Business support</li>
                    </ul>
                </div>
                <div class="pricing-select">
                    <a href="#" class="btn theme-btn-default btn-lg">Choose plan </a>
                </div>
            </div>
            <!--pricing wrapper-->
        </div>
        <!--pricing col end-->
        <div class="col-md-4 margin-btm-20">
            <div class="pricing-wrapper">
                <div class="pricing-head">
                    <h3>Super Premium</h3>
                </div>
                <div class="pricing-rate">
                    <h1>$999.99<small>-month</small></h1>
                </div>
                <div class="pricing-desc">
                    <ul class="list-unstyled">
                        <li><i class="ion-checkmark-round"></i> Unique Graphsearch</li>
                        <li><i class="ion-checkmark-round"></i> Extensive relation search</li>
                        <li><i class="ion-checkmark-round"></i> Favorite Articles</li>
                        <li><i class="ion-checkmark-round"></i> All the information</li>
                        <li><i class="ion-checkmark-round"></i> Startup-Notification</li>
                        <li><i class="ion-checkmark-round"></i> <b>PDF-Reports</b></li>
                        <li><i class="ion-checkmark-round"></i> <b>Unlimited Research Notifications</b></li>
                        <li><i class="ion-checkmark-round"></i> Business support</li>
                    </ul>
                </div>
                <div class="pricing-select">
                    <a href="#" class="btn theme-btn-default btn-lg">Choose plan </a>
                </div>
            </div>
            <!--pricing wrapper-->
        </div>
        <!--pricing col end-->

    </div>
    <!--pricing 3 col row end-->
    <div class="space-40"></div>


    <div style="display:none" class="row">
        <div class="col-md-4 margin-btm-40">
            <div class="price-faq-box">
                <h3>Lorem ipsum dollor sit amet?</h3>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div>
            <!--price faq box-->
        </div>
        <div class="col-md-4 margin-btm-40">
            <div class="price-faq-box">
                <h3>Lorem ipsum dollor sit amet?</h3>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div>
            <!--price faq box-->
        </div>
        <div class="col-md-4 margin-btm-40">
            <div class="price-faq-box">
                <h3>Lorem ipsum dollor sit amet?</h3>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div>
            <!--price faq box-->
        </div>
    </div>
    <div style="display:none" class="row">
        <div class="col-md-4 margin-btm-40">
            <div class="price-faq-box">
                <h3>Lorem ipsum dollor sit amet?</h3>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div>
            <!--price faq box-->
        </div>
        <div class="col-md-4 margin-btm-40">
            <div class="price-faq-box">
                <h3>Lorem ipsum dollor sit amet?</h3>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div>
            <!--price faq box-->
        </div>
        <div class="col-md-4 margin-btm-40">
            <div class="price-faq-box">
                <h3>Lorem ipsum dollor sit amet?</h3>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div>
            <!--price faq box-->
        </div>
    </div>

</div>
<!--pricing page end-->

<div class="space-70"></div>
