<section id="slider-sec" class="slider-reg">
    <carousel interval="5000">
        <slide ng-repeat="source in ServicesSlides" active="slide.active">
            <figure>
                <img ng-src="{{source.image}}" style="margin:auto;">
                <figcaption class="slider-overlay">
                    <div class="slider-text">
                        <h1>{{source.title}}</h1>
                        <p>{{source.caption}}
                            holist is a Big Data, Computer Linguistic and Visual Analytics company
                            <br/>providing insights from global science, patents, press, web, and social media for your strategy.
                        </p>
                    </div>
                </figcaption>
            </figure>
        </slide>
    </carousel>
</section>
<!--main flex slider end-->

<div class="space-50"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>What We Provide</h2>
            <h3 class="subtitle">holist gathers live information and </h3>
        </div>
        <div class="space-30"></div>
        <div class="col-md-3 col-sm-6">
            <div class="services-box">
                <i class="ion-beaker"></i>
                <h1>Data Mining</h1>
                <p>
                   Holist uses state of the art data-science to bring you the information you are looking for.

                </p>
            </div>
        </div>
        <!--services box-->
        <div class="col-md-3 col-sm-6">
            <div class="services-box">
                <i class="ion-shuffle"></i>
                <h1>Information reduction</h1>
                <p>
                    With the combination of serverall sources,
                    we reduce the information to the necessary one.
                </p>
            </div>
        </div>
        <!--services box-->
        <div class="col-md-3  col-sm-6">
            <div class="services-box">
                <i class="ion-thumbsup"></i>
                <h1>business service</h1>
                <p>
                    For your satisfaction we provide business class support.

                </p>
            </div>
        </div>
        <!--services box-->
        <div class="col-md-3  col-sm-6">
            <div class="services-box">
                <i class="ion-android-developer"></i>
                <h1>Technology</h1>
                <p>
                   Tailored to your needs. If you have any requests, please feel free to ask us.
                </p>
            </div>
        </div>
        <!--services box-->
        <div class="col-md-3  col-sm-6">
            <div class="services-box">
                <i class="ion-android-data"></i>
                <h1>Performance</h1>
                <p>

                </p>
            </div>
        </div>
        <!--services box-->
        <div class="col-md-3  col-sm-6">
            <div class="services-box">
                <i class="ion-upload"></i>
                <h1>Cloud Support</h1>
                <p>

                </p>
            </div>
        </div>
        <!--services box-->
        <div class="col-md-3  col-sm-6">
            <div class="services-box">
                <i class="ion-settings"></i>
                <h1>Development</h1>
                <p>

                </p>
            </div>
        </div>
        <!--services box-->
        <div class="col-md-3  col-sm-6">
            <div class="services-box">
                <i class="ion-levels"></i>
                <h1>Customized Solutions</h1>
                <p>

                </p>
            </div>
        </div>
    </div>
    <div class="space-70"></div>
    <div class="col-md-12 text-center">
        <h2>How To Work With holist</h2>
        <h3 class="subtitle">Watch the Video Below and Learn How Our Customers Use holist for their Decisions</h3>
    </div>
    <div class="space-30"></div>
    <div class="blog-post-section">
        <div class="blog-post-img">
            <div class="responsive-video">
                <iframe width="560" height="281" src="http://www.youtube.com/embed/qpJduraLDdg" frameborder="0" allowfullscreen></iframe>

                <p><a href="https://www.youtube.com/watch?v=qpJduraLDdg">Holist explanation on YouTube</a>.</p>
            </div>
        </div>
       <!--  <div class="blog-post-header">
            <h3>Working with holist is awesome</h3>
        </div>
        <div class="blog-post-info">
            <span><a href="index.html" class="hover-color">by holist</a> | on 11 june 2014 | Promotion</span>
        </div>
        <div class="blog-post-detail">
            <p>
                Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.Magnis modipsae que lib voloratati andigen
                daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.
            </p>
            <p>
                Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.
            </p>
        </div>-->
    </div>

    <div class="space-70"></div>
    <div class="col-md-12 text-center">
        <h2>What happens behind the Browser</h2>
        <h3 class="subtitle">holist gathers live information </h3>
    </div>
    <div class="space-30"></div>
    <div class="row">
        <div class="col-md-3 col-sm-6 margin-btm-20">
            <div class="process-box">
                <i class="ion-beaker"></i>
                <h2>Crawler</h2>
            </div>
            <!--process box end-->
        </div>
        <div class="col-md-3 col-sm-6 margin-btm-20">
            <div class="process-box">
                <i class="ion-compose"></i>
                <h2>Lexical Analysis</h2>
            </div>
            <!--process box end-->
        </div>
        <div class="col-md-3 col-sm-6 margin-btm-20">
            <div class="process-box">
                <i class="ion-settings"></i>
                <h2>Interface</h2>
            </div>
            <!--process box end-->
        </div>
        <div class="col-md-3 col-sm-6 margin-btm-20">
            <div class="process-box">
                <i class="ion-paper-airplane"></i>
                <h2>Front</h2>
            </div>
            <!--process box end-->
        </div>
    </div>
    <!--process row end-->
</div>
<!--services page end-->

<div class="space-70"></div>
